# --- Cấu hình & Môi trường ---
PyYAML
python-dotenv

# --- Dữ liệu & Tính toán ---
numpy
pandas
scikit-learn
joblib

# --- Tải dữ liệu ---
yfinance
fredapi

# --- AI & Deep Learning ---
tensorflow
mlflow
flask
# --- Trực quan hóa ---
matplotlib